{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/articles/">Все статьи</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="border rounded-3 my-4 d-flex justify-content-between p-3">
        <h1>Статьи</h1>
        <a class="btn btn-sm btn-outline-primary fs-5 px-3 lh-lg" href="/articles/add/">Добавить статью</a>
    </div>
    <div class="row row-cols-md-3 g-4">
        {% for article in articles %}
            <div class="col">
                <div class="card border-secondary h-100 mb-3">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <span>{{ article.created_at| date:'Y-m-d' }}</span>
                    </div>
                    <div class="card-body text-secondary d-flex flex-column">
                        <p class="card-text">
                            {% if article.content %}{{ article.content|truncatewords:5 }}{% else %}---{% endif %}</p>
                        <span>Автор: {% if article.author %}{{ article.author }}{% else %}---{% endif %}</span>
                        <a href="/article/?id={{ article.id }}" class="card-link mt-auto ms-auto">Подробнее</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>Нет данных</p>
        {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>